<html>
  <head>
    <title>Creative Retrospection<%= defined?(title) ? ": #{title}" : "" %></title>
    <link href='http://fonts.googleapis.com/css?family=Rancho|Coda' rel='stylesheet' type='text/css'>
    <link href='/styles/creativeretrospection.css' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/simpleCart.min.js"></script>
    <script type="text/javascript" src="/js/shoppingCart.js"></script>
    <% unless defined?(min_js_includes) && min_js_includes %>
      <script type="text/javascript" src="/js/jquery.galleriffic.js"></script>
      <script type="text/javascript" src="/js/jquery.opacityrollover.js"></script>
      <script type="text/javascript" src="/js/jquery-ui-1.8.17.custom.min.js"></script>
    <% end %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= GoogleAnalyticsAccount %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div class="header">
      <div class="main">
        <div class="cart-summary">
          <span class="not-empty">
            <a href="/cart.html">Your cart</a> (<span class="simpleCart_quantity"></span> items) |
            <a href="/cart.html">Checkout</a>
          </span>
          <span class="empty" style="display:none">Your cart is empty</span>
        </div>

        <div class="creativeretrospection"><a class="black" href="/">Creative Retrospection</a></div>
        <span class="product-list">
          <ul
            ><li>&#187; <a href="/state-mirrors/">State Mirrors</a></li
            ><li>&#187; <a href="/android-mirrors/">Android Mirrors</a></li
            ><li>&#187; <a href="/artistic-mirrors/">Artistic Mirrors</a></li
          ></ul>
        </span>

      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  <script>
    jQuery(document).ready(function($) {
      ShoppingCartSummary.updateHeaderLinks();
    });
  </script>
  </body>
</html>
