<div id="cart-details">
  <h1>Your Cart</h1>
  <div class="actions">
    <a href="javascript:;" class="simpleCart_checkout">Pay with PayPal</a> |
    <a href="javascript:;" class="simpleCart_checkout">Pay with Google Checkout</a> |
    <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
  </div>

  <div class="simpleCart_items"></div>
</div>
